body {
    background-image: url("images/90.jpeg");
}


.header-content {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

img { /*image is huge so I had to scale it down */
    max-width: 300px;
    border: black;
    border-radius: 10px; /*keeping things rounded just a smidge */
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 20px;
    border-radius: 150px; /*some slight rounding */
    background-color: rgb(165, 197, 224); 
    margin: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(165, 197, 224);
    margin: 2px;
    padding: 2px;
} 


article {
    background-color: rgb(165, 197, 224);
    max-width: 50%;
    margin: 0 auto; /* horizontal alignment */
    margin-top: 50px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px black;
    border-radius: 10px
}

section {
    max-width: 50%;
    margin: 0 auto;
}
/*colors for the buttons */
a {
    color: rgb(96, 35, 104);

}

a:hover {
    color: rgb(122, 122, 64);
}

footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(238, 238, 23);
    max-width: 50%;
    margin: 0 auto; /*horizontal aligntment again */
    border: 2px black;
    border-radius: 100px;
    font-size: small;
}


